name: "Team Synchronizer"
on:
  push:
    branches:
      # - master
      # temporarily use this branch:
      - teams-file
    paths:
      - '.github/teams.json'

jobs:
  synchronize-teams:
    runs-on: ubuntu-latest
    steps:
    # - uses: rmacklin/team-synchronizer@v1
    # temporarily pull the action from here:
    - uses: rmacklin-dev/pr-labeler@47cbfce62552d8c908612f94d57b761999862f52
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
