name: "Team Synchronizer"
on:
  push:
    branches:
      # - master
      # temporarily use this branch:
      - teams-file
    paths:
      - '.github/teams.json'

jobs:
  synchronize-teams:
    runs-on: ubuntu-latest
    steps:
    - uses: rmacklin/team-sync@v0.3.0
      with:
        repo-token: "${{ secrets.ORG_ADMIN_ACCESS_TOKEN }}"
        prefix-teams-with: DevOps
